<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="media-heading">CS 5220</h1>
      <h2>Applications of Parallel Computers</h2>
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <hr/>
    <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6">
      <p>
        Location: Gates G01<br/>
        Lecture: TR 8:40-9:55<br/>
        Discussion: <a href="https://piazza.com/">Piazza</a><br/>
        Course material: <a href="https://www.github.com/dbindel/cs5220-f17/">GitHub</a>
      </p>
    </div>
    <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">    
      <p>
        Prof: <a href="http://www.cs.cornell.edu/~bindel">David Bindel</a><br/>
        Email: <a href="mailto:bindel@cs.cornell.edu">bindel@cs.cornell.edu</a><br/>
        OH: W 1:30-2:30, Th 10-11 in Gates 425<br/>
        <a href="http://www.meetme.so/DavidBindel">Scheduler link</a>
      </p>
      <p>
        TA: <a href="http://www.cs.cornell.edu/~erichanslee/">Eric Hans Lee</a><br/>
        Email: <a href="mailto:erichanslee@cs.cornell.edu">erichanslee@cs.cornell.edu</a><br/>
        OH: T 11-12 in Gates G11, Th 11-12 in Gates G15, and by appointment<br/>
      </p>
    </div>
    </div>
  </div>
</div>
